Unipath==1.0
amqp==1.4.5
anyjson==0.3.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.17
celery==3.1.11
flower==0.7.0
jaraco.util==10.0.2
kombu==3.0.15
lockfile==0.9.1
more-itertools==2.2
plotly==0.5.13
pyserial==2.7
python-daemon==1.6
pytz==2014.2
redis==2.9.1
requests==2.2.1
six==1.7.2
tornado==3.2.2
